-r requirements.txt


# todo: replace tools where applicable
pytest
black >=21.5b2
pytest-cov
flake8 >= 3.9.2
pre-commit >= 2.8.2
isort >= 5.8.0
seed-isort-config
mypy

flake8-print  # Forbid print statement in code use logging. instead
flake8-bugbear  # Catch common errors
flake8-printf-formatting  # forbid %s use fstring instead
